<%- include('../partials/header') %>

<section id="show-page">
    <div>Airline: </div>
    <div><%= flight.airline %></div>
    <div>Airport: </div>
    <div><%= flight.airport %></div>
    <div>Flight Number: </div>
    <div><%= flight.flightNo %></div>
    <div>Departs: </div>
    <div><%= flight.departs %></div>
</section>

<br><br><h2>Destinations</h2>
<form id="add-destination-form" method="POST" action="/flights/<%= flight._id %>/destinations">
    <label>Date/ Time:</label>
    <input type="datetime-local" name="date">
    <label>Arrival:</label>
    <select name="arrival">
        <option value="AUS">AUS</option>
        <option value="DFW">DFW</option>
        <option value="DEN" selected>DEN</option>
        <option value="LAX">LAX</option>
        <option value="SAN">SAN</option>
      </select>
    <input type="submit" value="Add Destination">
</form>

<% if (flight.destinations.length) { %>
    <table>
      <thead>
        <tr>
          <th>Date/ Time</th>
          <th>Arrival</th>
        </tr>
      </thead>
      <tbody>
        <% flight.destinations.forEach(function(r) { %>
          <tr>
            <td><%= r.createdAt %></td>
            <td><%= r.date %></td>
            <td><%= r.arrival %></td>
          </tr>
        <% }); %>
      </tbody>
    </table>
  <% } else { %>
    <h5>No Arrivals Yet</h5>
  <% } %>
  
<br><br><h2>Tickets</h2><br><br>

<% if (tickets.length) { %>
  <table id="list">
    <thead>
      <tr>
        <th>Price</th>
        <th>Seat</th>
      </tr>
    </thead>
    <tbody>
      <% tickets.forEach(function(t) { %>
        <tr>
          <td><%= t.price %></td>
          <td><%= t.seat %></td>
        </tr>
      <% }); %>
    </tbody>
  </table>
  <% } else { %>
    <h5>No Tickets Yet</h5>
  <% } %>
<br><br><td><a href="/flights/<%= flight._id %>/tickets/new">New Ticket</a></td><br><br>

<%- include('../partials/footer') %>